body {
    height: 92vh;
    min-height: fit-content;
    min-width: fit-content;
    display: flex;
    gap: clamp(1.2rem, 10%, 6rem);
    padding: 1rem clamp(1.2rem, 5%, 5rem);
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(243, 38, 38, 0.6);
    color: rgb(17, 5, 5);
    font-weight: bold;
    font-size: clamp(1.5rem, 3rem, 3rem)
}

.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.4rem, 7vw, 8rem);
    margin-top: 1.2rem;
}

.container {
    border: 1px solid black;
    min-height: fit-content;
    min-width: fit-content;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 120px));
    grid-template-rows: repeat(3, minmax(80px, 120px));
    box-shadow: 2px 2px 8px rgb(104, 122, 220)
}

.container:hover {
    box-shadow: 2px 2px 8px rgb(7, 201, 59)
}

.container> div {
    border: 1.8px solid black;
}

.container div:hover, .display:hover{
    border: 2px solid rgb(97, 9, 9);
    box-shadow: 2px 2px 8px rgb(155, 16, 16)
}

.playerBox {
    text-shadow: 0.3px 0.3px 1.5px rgb(25, 76, 230);
    color: rgb(4, 0, 0);
    padding: 0 0.2rem;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.playerBox>div {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.playerBox.p1>div {
    color: green;
    text-shadow: 0.2px 0.2px 1.2px rgba(110, 3, 3, 0.6);
}

.playerBox.p2>div {
    color: red;
    text-shadow: 0.3px 0.3px 5px rgba(6, 100, 38, 0.8);
}


.display {
    height: 100px;
    width: 360px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: bold;;
}

.player1, .player2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
}

.markPlayer1, .markPlayer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3rem;
    font-weight: 600;
}

.display>div {
    font-size: 2.4rem;
    font-weight: bold;
}

dialog:open {
    height: 55vh;
    text-shadow: 0.3px 0.3px 1.5px rgb(34, 241, 23);
    color: rgb(4, 0, 0);
    border: 3px solid black;
    width: 40vh;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 8px rgb(7, 201, 59);
    border-radius: 6px;
}

dialog:open div {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog:open button {
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 0.1px 0.1px 1.5px rgba(10, 94, 211, 0.5);
    color: rgb(4, 0, 0);
    border: 1.5px solid rgb(4, 0, 0);
    box-shadow: 0.5px 0.5px 1.5px rgb(17, 104, 204) ;
    border-radius: 5px;
}